# global ignores
*.class
*.log

# top gradle-level ignores
.gradle
build/
src/main/webapp/javascript/scalajs/

# Ignore Gradle GUI config
gradle-app.setting

# bottom sbt-level ignores
scalajs/.settings/
scalajs/.cache/
scalajs/.history/
scalajs/.lib/
scalajs/dist/*
scalajs/target/
scalajs/lib_managed/
scalajs/src_managed/
scalajs/project/boot/
scalajs/project/plugins/project/
scalajs/project/.ivy/
scalajs/project/.sbtboot/
scalajs/project/.boot/
scalajs/project/project/
scalajs/project/target/

# Scala-IDE specific
scalajs/.scala_dependencies
scalajs/.worksheet
scalajs/.project
scalajs/.classpath
scalajs/.cache
scalajs/.idea/*